@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

#main-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    font-size: 32px;

    background-image: url('../images/image0.jpg');
    background-size: cover;
    background-position: center -90px;
    background-repeat: no-repeat;

    margin-bottom: 30px;
}

@media screen and (max-width: 1190px) {
    #main-title {
        background-size: auto;
        
    }
}

/* Camada de transparência */
#main-title::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7); /* ajuste a transparência aqui */
    z-index: 0;
}

/* Garante que o texto fique acima da camada */
#main-title h1 {
    position: relative;
    z-index: 1;
    background: none;
}

.oswald-light {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background: none;
}

.oswald-medium {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.initial {
    font-size: 1.3em;
    letter-spacing: -2px;
    background: none;
}

#sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    gap: 20px;
    padding: 0 30px 0 30px;
}

.sobre-foto img {
    width: 470px;
    height: auto;
    border-radius: 10px;
}

#sobre-text p {
    text-align: justify;
    font-size: 20px;
    word-spacing: 6px;
}

#sobre-text h2 {
    margin: 30px 0 10px 0;
}

#sobre-text span {
    background-color: #fff01c;
    color: black;
}

#resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.resultados-imagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.resultados-imagens img {
    height: 600px;
    width: auto;
    border-radius: 10px;
}

#especialidades {
    align-items: center;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.especialidades-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.especialidades-card {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(70, 70, 70, 0.2);
    overflow: hidden;
    background-color: #fff01c;
}

.especialidades-card img {
    width: 100%;
    height: auto;
}

.especialidades-texto {
    text-align: justify;
    font-size: 18px;
    word-spacing: 6px;
    padding: 20px;
    gap: 20px;
    height: 100%;
    background-color: #3d3d3d;
}

.especialidades-texto p,
.especialidades-texto h2 {
    background-color: #3d3d3d;
    margin-bottom: 20px;
}

#planos {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

.planos-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.planos-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(70, 70, 70, 0.2);
    overflow: hidden;
    background-color: #3d3d3d;
    padding: 20px;
    font-size: 20px;
    position: relative;
}

.planos-card h2,
.planos-card p,
.planos-card span {
    background-color: #3d3d3d;
    margin: 0 0 20px 0;
}

.planos-card h2,
.planos-card span {
    color: #fff01c;
}

.planos-card span {
    position: absolute;
    bottom: 0;
    font-size: 30px;
    font-weight: 700;
}

#faca-parte {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

#sobre .cta-btn {
    margin-top: 40px;
    justify-self: center;
}

.cta-btn {
    margin: 10px;
}

.cta-btn a {
    width: 300px;
    text-align: center;
    text-decoration: none;
    background-color: #fff01c;
    font-size: 30px;
    border-radius: 14px;
    padding: 14px;
    color: black;
    font-weight: 700;
}

.cta-btn i {
    background-color: #fff01c;
    color: black;
}

@media screen and (max-width: 1190px) {
    .resultados-imagens {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    #sobre {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0 15px 0 15px;
    }

    #sobre-text {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-items: center;
        text-align: center;
    }

    .especialidades-cards {
        flex-direction: column;
        align-items: center;
    }

    .planos-card {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .sobre-foto {
        display: flex;
        justify-content: center;
    }

    .sobre-foto img {
        max-width: 90%;
        height: auto;
    }

    .resultados-imagens img {
        max-width: 90%;
        height: auto;
    }

    .especialidades-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .especialidades-card {
        width: 90%;
        max-width: 400px;
    }

    .cta-btn a {
        font-size: 22px;
    }

    #faca-parte {
        text-align: center;
    }
}